<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Engine</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script>
      function showTab(tabId, element) {
        // Скрыть все вкладки
        document.querySelectorAll(".tab-content").forEach((tab) => {
          tab.classList.remove("active");
        });

        // Показать выбранную вкладку
        document.getElementById(tabId).classList.add("active");

        // Удалить активный класс со всех ссылок
        document.querySelectorAll(".sidebar a").forEach((link) => {
          link.classList.remove("active");
        });

        // Добавить активный класс к текущей ссылке
        element.classList.add("active");
      }
    </script>
  </head>
  <body>
    <div class="sidebar">
      <a href="#" id="dashboard-tab" onclick="showTab('dashboard', this)"
        >Dashboard</a
      >
      <a href="#" id="management-tab" onclick="showTab('management', this)"
        >Management</a
      >
      <a href="#" id="search-tab" onclick="showTab('search', this)">Search</a>
    </div>
    <div class="content">
      <!-- Dashboard Tab -->
      <div id="dashboard" class="tab-content active">
        <header>
          <h1>Dashboard</h1>
        </header>
        <h2>Общая статистика</h2>
        <div id="overall-stats">
          <p>Общее количество страниц: <span id="total-pages"></span></p>
          <p>Общее количество лемм: <span id="total-lemmas"></span></p>
        </div>
        <h2>Статистика по сайтам</h2>
        <select id="site-select">
          <option value="" disabled selected>Выберите сайт</option>
        </select>
        <div id="site-stats">
          <h3>Информация по сайту</h3>
          <p>URL: <span id="site-url"></span></p>
          <p>Имя: <span id="site-name"></span></p>
          <p>Количество страниц: <span id="site-pages"></span></p>
          <p>Количество лемм: <span id="site-lemmas"></span></p>
        </div>
      </div>

      <!-- Management Tab -->
      <div id="management" class="tab-content">
        <header>
          <h1>Management</h1>
        </header>
        <div id="addSiteForm" style="margin-bottom: 20px">
          <h3>Добавить новый сайт</h3>
          <input
            type="text"
            id="siteUrl"
            placeholder="Введите URL сайта"
            style="padding: 10px; width: 60%; margin-bottom: 10px"
          />
          <br />
          <input
            type="text"
            id="siteName"
            placeholder="Введите имя сайта"
            style="padding: 10px; width: 60%; margin-bottom: 10px"
          />
          <br />
          <button id="addSiteButton">Добавить сайт</button>
        </div>
        <div class="index-list-site">
          <input
            id="siteUrlInput"
            type="text"
            placeholder="Введите URL сайта для индексации"
            style="padding: 10px; width: 60%; font-size: 16px"
          />
          <button id="indexSiteButton">Начать индексацию</button>
        </div>
        <div class="index-list">
          <button id="startIndexing">Глобальная индексация</button>
          <button id="stopIndexing" style="background-color: #dc3545">
            Остановить индексацию
          </button>
        </div>
      </div>

      <!-- Search Tab -->
      <div id="search" class="tab-content">
        <header>
          <h1>Search</h1>
        </header>
        <form id="searchForm">
          <div>
            <label for="siteSelect">Выберите сайт:</label>
            <select id="siteSelect">
              <option value="">Все сайты</option>
              <!-- Опция по умолчанию -->
            </select>
          </div>
          <div class="search-list">
            <label for="searchInput">Введите запрос:</label>
            <input
              type="text"
              id="searchInput"
              placeholder="Введите слова для поиска"
            />
            <button id="searchButton">Поиск</button>
          </div>
          <div id="results">
            <h3>Результаты поиска:</h3>
            <div id="resultsList"></div>
          </div>
        </form>
      </div>
    </div>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
